body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4cm;
    color: #222;
    background: #efefef;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    border-radius: 1px;
    height: auto;
}

a{
    color: inherit;
    text-decoration: none;
}

.section{
    clear: both;
}

.col{
    display: block;
    margin: 1% 0 1% 1.6%;
    float: left;
}

col:first-child{
    margin-left: 0;
}

.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 64%;
}

.span_1_of_3{
    width: 32.2%;
}

header{
    max-width: 100%;
    background: #4fffbd;
    padding: 20px;
    background: #00b77b;
}

.logo{
    width: 100px;
    display: block;
    margin: auto;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.blog-post{
    background: #fff;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}

.side-post{
    background: #fff;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
}

.blog-content{
    font-size: 1em;
    border-left: 5px solid #4fffbd;
    padding-left: 15px;
}

.side-content{
    font-size: .9em;
    border-left: 8px;
    border-bottom: 0;
}

.blog-title{
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 5px;
}

.blog-date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.post-link{
    color: #0841a8;
    cursor: pointer;
}

.post-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.button{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #009acd;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    border-radius: 2px;
    transition: all .4s ease-in;
}

.button:hover{
    background: #005c7b;
}

footer{
    width: 100%;
    float: right;
    background: #141414;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}

footer h1{
    margin: 20px auto;
}
footer p{
    margin: auto;
}

/*900px*/
@media screen and (max-width: 850px) {
    col{
        margin: 1% 0 1% 0%;
    }
    
    .span_1_of_3,
    .span_2_of_3,
    .span_3_of_3{
        width: 100%;
    }

    .side-post{
        width: 42%;
        float: left;
        margin: -2% 0 1% 1.6%
    }
}
